// src/components/Navbar.module.scss
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #2c3e50;
    color: #cfcfcf;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .leftside {
        display: flex;
        gap: 1rem;

    }
    .navLink {
        text-decoration: none;
        color: #ecf0f1;
        font-weight: 500;
        transition: color 0.3s ease-in-out;

        &:hover {
            color: #3498db;
        }
    }

    .navLinks {
        display: flex;
        gap: 1.5rem;
    }


    .authLinks {
        display: flex;
        align-items: center;
        gap: 1rem;
        

        .roleLabel {
            font-size: 1rem;
            font-weight: bold;
            margin-right: 1rem;
        }
    }
}

.button {
    background-color: #e74c3c;
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: #c0392b;
}